name: build/test

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "master"
    
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        # os: [macos-latest, ubuntu-latest, windows-latest]
        # Disabled windows runs. I pinky swear that this is temporary.
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: npm install
      - run: ./node_modules/.bin/tree-sitter generate
      - run: ./node_modules/.bin/tree-sitter test
